{% assign productIds = cart.items | map: 'product' | map: 'id' | join: ',' %}
<section class="betterrecs" data-product_ids="{{productIds}}" data-shop="{{shop.permanent_domain}}" data-product_id="{{product.id}}" data-collection="{{collection.id}}" data-collection_handle="{{collection.handle}}" data-template="{{template}}" data-page_handle="{{page.handle}}" data-purpose="{{purpose}}" style="overflow: auto; clear: both;">
</section>