{% if collection.metafields.volnat != blank %}
<div class="index-section volnat-collection-features">
    <div class="page-width">
        {% if collection.metafields.volnat.section_title != blank %}
        <div class="section-header text-center">
            <h2>{{ collection.metafields.volnat.section_title | escape }}</h2>
        </div>
        {% endif %}
        {% assign block_size = collection.metafields.volnat.heading | size %}
        <div class="grid {% unless block_size == 5 %}grid--uniform{% endunless %} grid--flush-bottom">
            {%- assign grid_item_width = 'medium-up--one-third' -%}
            {%- assign max_height = 345 -%}
            {% case block_size %}
                {% when 1 %}
                {%- assign grid_item_width = 'medium-up--one-half' -%}
                {%- assign max_height = 530 -%}
                {% when 2 %}
                {%- assign grid_item_width = 'medium-up--one-half' -%}
                {%- assign max_height = 530 -%}
                {% when 4 %}
                {%- assign grid_item_width = 'medium-up--one-half' -%}
                {%- assign max_height = 530 -%}
            {% endcase %}

            {% for heading in collection.metafields.volnat.heading %}
                {% assign index = forloop.index | minus: 1 %}
                {% if block_size == 5 and forloop.index < 3 %}
                    {%- assign column_width = 'medium-up--one-half' -%}
                    {%- assign max_height = 530 -%}
                {% else %}
                    {%- assign column_width = grid_item_width -%}
                {% endif %}
                <div class="grid__item {{ column_width }} text-center">
                    {% if collection.metafields.volnat.image[index] != blank %}
                        <span class="inline-svg"><img src="{{ collection.metafields.volnat.image[index] }}" /></span>
                    {% endif %}
                    {% if heading != blank %}
                        <h3 class="h4">{{ heading | escape }}</h3>
                    {% endif %}
                    {% if collection.metafields.volnat.text[index] != blank %}
                        <div class="rte-setting">{{ collection.metafields.volnat.text[index] }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
