<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">


<head>

    <!-- Global site tag (gtag.js) - Google Ads: 651952122 -->
    <script src="https://www.googletagmanager.com/gtag/js?id=AW-651952122" type="lazyload2"></script>
    <script type="lazyload2">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-651952122');
      
    </script>
    {% if template contains 'index' %}
    <script type="lazyload2">
     gtag('event', 'page_view', {
     'send_to': 'AW-651952122',
     'ecomm_pagetype': 'home'
     });
    </script>
    {% elsif template contains 'collection' %}
    <script type="lazyload2">
     gtag('event', 'page_view', {
     'send_to': 'AW-651952122',
     'ecomm_pagetype': 'category'
     });
    </script>
    {% elsif template contains 'product' %}
    <script type="lazyload2">
     gtag('event', 'page_view', {
     'send_to': 'AW-651952122',
     'ecomm_pagetype': 'product',
     'ecomm_prodid': 'shopify_GB_{{ product.id }}_{{ product.variants.first.id }}',
     'ecomm_totalvalue': '{{ product.price | money_without_currency | remove: ',' }}'
     });
    </script>
    {% elsif template contains 'cart' %}
    <script type="lazyload2">
     gtag('event', 'page_view', {
     'send_to': 'AW-651952122',
     'ecomm_pagetype': 'cart',
     'ecomm_prodid': [{% for item in cart.items %}'shopify_GB_{{ item.product_id }}_{{ item.variant.id }}'{% unless forloop.last %},{% endunless %}{% endfor %}],
     'ecomm_totalvalue': '{{cart.total_price | money_without_currency | remove: ',' }}'
     });
    </script>
    {% elsif template contains 'search' %}
    <script type="lazyload2">
     gtag('event', 'page_view', {
     'send_to': 'AW-651952122',
     'ecomm_pagetype': 'searchresults'
     });
    </script>
    {% else %}
    <script type="lazyload2">
     gtag('event', 'page_view', {
     'send_to': 'AW-651952122',
     'ecomm_pagetype': 'other'
     });
    </script>
    {% endif %} 
      

    <meta name="google-site-verification" content="Wk0ha5Q_2XmMJyYKjApfy9JPD-aFu1jtlXr64jRT6DE" />
    <meta name="google-site-verification" content="HERSnDzc2DOdBDreSOdX9Rb9hf3hx25rZYL47LoeZDg" />
    <meta name="facebook-domain-verification" content="wqdyesd1f6xz8791i2jg4mvg08tq0o" />
    <meta name="google-site-verification" content="wIJz-l5KS5XIuS6Ye5LPxlVfPGn4mR98Vz1zvrnPRFY" />


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <link rel="canonical" href="{{ canonical_url }}">
<link rel="alternate" hreflang="en-gb" href="https://volantaroma.co.uk{% if template contains 'collection' %}{{ collection.url }}{% elsif template == 'index' %}/{% elsif template contains 'product' %}{{ product.url }}{% elsif template contains 'blog' %}{{ blog.url }}{% elsif template contains 'article' %}{{ article.url }}{% else %}{{ page.url }}{% endif %}"/>

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}
  
    <!-- Title and description ================================================== -->
    <title>
    {{ page_title }}{% if current_tags %}{% assign current_tags_joined = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: current_tags_joined }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {%- capture seo_title -%}
      {%- if request.page_type == 'search' and search.performed == true -%}
        {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
      {%- else -%}
        {{ page_title }}
      {%- endif -%}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name -%}
        &ndash; {{ shop.name }}
      {%- endunless -%}
    {%- endcapture -%}
   

    {%- if page_description -%}
       
    {%- endif -%}

    {% include 'social-meta-tags' %}
    {% include 'themes-css' %}

    <!-- {{ 'theme.scss.css' | asset_url | stylesheet_tag }} -->

    <script>
      var theme = {
        breakpoints: {
          medium: 750,
          large: 990,
          widescreen: 1400
        },
        strings: {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }},
          regularPrice: {{ 'products.product.regular_price' | t | json }},
          salePrice: {{ 'products.product.sale_price' | t | json }},
          sale: {{ 'products.product.on_sale' | t | json }},
          fromLowestPrice: {{ 'products.product.from_lowest_price_html' | t: lowest_price: '[price]' | json }},
          vendor: {{'products.product.vendor' | t | json }},
          showMore: {{ 'general.filters.show_more' | t | json }},
          showLess: {{ 'general.filters.show_less' | t | json }},
          searchFor: {{ 'general.search.search_for' | t | json }},
          addressError: {{ 'sections.map.address_error' | t | json }},
          addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
          addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
          authError: {{ 'sections.map.auth_error_html' | t | json }},
          newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
          external: {{ 'general.accessibility.link_messages.external' | t | json }},
          newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
          removeLabel: {{ 'cart.label.remove' | t: product: '[product]' | json }},
          update: {{ 'cart.label.update' | t | json }},
          quantity: {{ 'cart.label.quantity' | t | json }},
          discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
          regularTotal: {{ 'cart.label.regular_total' | t | json }},
          priceColumn: {{ 'cart.label.price_column' | t | json }},
          quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }},
          cartError: {{ 'cart.general.cart_error' | t | json }},
          removedItemMessage: {{ 'cart.general.removed_item_html' | t: quantity: '[quantity]', link: '[link]' | json }},
          unitPrice: {{ 'products.product.unit_price_label' | t | json }},
          unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
          oneCartCount: {{ 'cart.popup.cart_count' | t: count: 1 | json }},
          otherCartCount: {{ 'cart.popup.cart_count' | t: count: '[count]' | json }},
          quantityLabel: {{ 'cart.popup.quantity_label' | t: quantity_count: '[count]' | json }},
          products: {{ 'general.search.products' | t | json }},
          loading: {{ 'general.search.loading' | t | json }},
          number_of_results: {{ 'general.search.number_of_results' | t: result_number: '[result_number]', results_count: '[results_count]' | json }},
          number_of_results_found: {{ 'general.search.number_of_results_found' | t: results_count: '[results_count]' | json }},
          one_result_found: {{ 'general.search.one_result_found' | t | json }}
        },
        moneyFormat: {{ shop.money_format | json }},
        moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }},
        settings: {
          predictiveSearchEnabled: {{ settings.predictive_search_enabled | json }},
          predictiveSearchShowPrice: {{ settings.predictive_search_show_price | json }},
          predictiveSearchShowVendor: {{ settings.predictive_search_show_vendor | json }}
        }
      }

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    {%- if request.page_type contains 'customers/' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}

    <script src="{{ 'lazysizes.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
    <script data-src="{{ 'theme.js' | asset_url }}" type="lazyload2"></script>


    {%- if request.host == "volantaromaeuro.myshopify.com" or template contains 'cart' or template contains 'checkout' -%}
    {{ content_for_header }}
    {%- else -%}
    {% capture content_for_header2 %}
    {{ content_for_header }}
    {% endcapture %}
    {{ content_for_header2 | replace: ' defer="defer" ', ' type="no-load" ' | replace: " src=", " data-src=" | replace: "window.addEventListener('load', asyncLoad, false);", "window.addEventListener('wnw_load', asyncLoad, false);" | replace: "DOMContentLoaded", "" }}
    {%- endif -%}

 
    {% render 'pagefly-header' %}
     
    {{ shop.metafields.loox["global_html_head"] }}


      <!-- REAMAZE INTEGRATION START - DO NOT REMOVE -->
{% render 'reamaze-config' %}
{% render 'reamaze-sso' %}
<!-- REAMAZE INTEGRATION END - DO NOT REMOVE -->

    {% render 'weglot_hreftags' %}
    {% render 'weglot_switcher' %}
</head> 

<body class="template-{{ request.page_type | handle }}">
    {% include 'avada-gtm-body' %}
    <script type="lazyload2">!function(){window.SLIDECART=!0;window.SLIDECART_FORMAT='{{shop.money_format}}';var e="https://cdn.jsdelivr.net/gh/apphq/slidecart-dist@beta3/slidecarthq.js?"+(new Date).getTime(),t=document.createElement("script");t.type="text/javascript",t.src=e,document.querySelector("body").appendChild(t)}();</script>


 

    <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>


    {% section 'header' %}

    <div class="page-container drawer-page-content" id="PageContainer">

    <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
      <limespot></limespot>
    </main>

    {% section 'footer' %}

    <div id="slideshow-info" class="visually-hidden" aria-hidden="true">
      {{ 'sections.slideshow.navigation_instructions' | t }}
    </div>

    </div>

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
      <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
    </ul>
    <!-- Begin ReCharge code -->
    {% include 'subscription-theme-footer' %}
    <!-- End ReCharge code -->

    {{ shop.metafields.loox["global_html_body"] }}
      
  
    <script> 
        window.onload = function() {
            var pfATCs = $('#__pf').find('[data-pf-type="ProductATC"]');
            pfATCs.click(e => {
                var checkoutAction = e.currentTarget.getAttribute('data-checkout');
                if (checkoutAction === 'same') {
                window.__pagefly_helper_store__ && window.__pagefly_helper_store__.subscribe(function() { 
                $.getJSON('/cart.json').then(cart => {
                      window.SLIDECART_UPDATE(cart);
            window.SLIDECART_OPEN();
                      })
            })
      }
        })
            }
    </script>
  
    <script>
      window.onload = function() {
        window.__pagefly_helper_store__ && window.__pagefly_helper_store__.subscribe(function() {
          window.SLIDECART_UPDATE(function() {
            window.SLIDECART_OPEN()
          })
        })
      }
    </script>

    <script data-src="https://a.klaviyo.com/media/js/onsite/onsite.js" type="lazyload2"></script>
    <script type="lazyload2">
        var klaviyo = klaviyo || [];
        klaviyo.init({
          account: "VRcUXd",
          platform: "shopify"
        });
        klaviyo.enable("backinstock",{ 
        trigger: {
          product_page_text: "Get notified when it's back in stock.",
          product_page_class: "btn",
          product_page_text_align: "center",
          product_page_margin: "0px",
          replace_anchor: false
        },
        modal: {
         headline: "{product_name}",
         body_content: "Register to get notified when this product is back in stock.",
         email_field_label: "Email",
         button_label: "Notify me",
         subscription_success_label: "Great! We'll send you an email when it's back in stock.",
         footer_content: '',
         additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');",
         drop_background_color: "#000",
         background_color: "#fff",
         text_color: "#4A3F3C",
         button_text_color: "#fff",
         button_background_color: "#DEAB5B",
         close_button_color: "#ccc",
         error_background_color: "#fcd6d7",
         error_text_color: "#C72E2F",
         success_background_color: "#d3efcd",
         success_text_color: "#1B9500"
        }
      });
    </script>
      
    <script type="lazyload2">
    (function() {
      var identifyLanguageToKlaviyo = function(lang) {
        var _learnq = window._learnq || [];
        _learnq.push(['identify', {
          $lang: lang
        }]);
      }
      identifyLanguageToKlaviyo(Weglot.getCurrentLang())
      Weglot.on('languageChanged', identifyLanguageToKlaviyo)
    })()
    </script>
  
 
  
  
    {% render 'th-bundle-product' %}
    <script data-src="https://cdn.shopify.com/s/files/1/0194/1736/6592/t/1/assets/booster-page-speed-optimizer.js?23" type="lazyload2"></script>
    <script>
    window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} window.KlarnaThemeGlobals.data_purchase_amount={{product.first_available_variant.price}};window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}
    </script>

    {{ 'wnw-optimization.js' | asset_url | script_tag }}
</body>
</html>
