<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,700,500,600|Muli:400|Montserrat:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.13.4/css/main-style.css?t=20200819180843"><link rel="stylesheet" href="{{ 'pagefly.16fdfe69.scss.css' | asset_url }}">
		  {% if product_4461297107017 == null %}{%- assign product_4461297107017 = all_products['organisk-grapefruit-eterisk-olje'] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["4461297107017"] = {
					id: {{product_4461297107017.id | json }},
					handle: {{product_4461297107017.handle | json }},
					title: {{product_4461297107017.title | json }},
					type: {{product_4461297107017.type | json }},
					url: {{product_4461297107017.url | json }},
					vendor: {{product_4461297107017.vendor | json }},
					variants: {{product_4461297107017.variants | json }},
					options: {{product_4461297107017.options | json }},
					media: {{product_4461297107017.media | json }},
					first_available_variant: {{product_4461297107017.first_available_variant | json }},
					has_only_default_variant: {{product_4461297107017.has_only_default_variant | json }},
					options_with_values: {{product_4461297107017.options_with_values | json }},
					selected_variant: {{product_4461297107017.selected_variant | json }},
					selected_or_first_available_variant: {{product_4461297107017.selected_or_first_available_variant | json }},
					tags: {{product_4461297107017.tags | json }},
					template_suffix: {{product_4461297107017.template_suffix | json }},
					featured_image: {{product_4461297107017.featured_image | json }},
					featured_media: {{product_4461297107017.featured_media | json }},
					images: {{product_4461297107017.images | json }}
				};
window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					first_available_variant: {{product.first_available_variant | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-6b351a03"><div data-pf-type="Layout" class="pf-d16b351a"><div data-container="true" class="sc-pZopv bjKdkd pf-793a182c" data-pf-type="Section"><div class="sc-pIvhh gtZHgp" style="background-color: rgb(255, 255, 255);"></div><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-1ba0793a pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-de0f1ba0" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-168e6f89">{% include 'smsbump_subscription_form_embed_16814' %}
</div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-189ea7a7" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-9713b8ee pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-0a9a9f84" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-ffec5ea0"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b2120de7">1000+ fornøyde kunder</span></h3><div data-sliderx="{'curr':0,'autoPlay':false,'autoPlayDelay':3000,'duration':300,'loop':false,'draggable':true,'paginationStyle':'pagination-style-1','navStyle':'none','adaptiveHeight':false,'slidesToShow':{'all':3,'laptop':3,'tablet':2,'mobile':1},'slidesToScroll':{'all':1,'laptop':1,'tablet':1,'mobile':1},'gutter':{'all':20,'laptop':20,'tablet':20,'mobile':20}}" data-pf-type="Slider" class="sc-pYPmd kCAYOZ pf-c495ad97"><div data-pf-type="Carousel" class="sc-pAwOa cSXOEP pf-35d8a6ad"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-427db6b3"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-455b59d6"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0de7ab35">Randi. G</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-0855427d"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ab35d8a6">"Alle på besøk spør hvor jeg kjøpte diffuseren min, hele veninnegjengen har den nå"</span></p></div></div><div data-pf-type="Carousel" class="sc-pAwOa cSXOEP pf-e234054d"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-8fd68046"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-ba82169e"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a6ad62e2">Nina S.</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-3db18fd6"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-62e23405">"Jeg har leitet lenge etter en diffuser som passer inn i interiøret"</span></p></div></div><div data-pf-type="Carousel" class="sc-pAwOa cSXOEP pf-67c4cbc4"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-01933370"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-8a8aa429"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-054d4367">Jorunn L.</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-3f340193"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-4367c4cb">"Syntes den var litt dyr, men den er absolutt verdt det"</span></p></div></div><div data-pf-type="Carousel" class="sc-pAwOa cSXOEP pf-810a9a9f"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-39fc9cc4 pf-md--hidden pf-sm--hidden"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-a477a9c4"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-cbc40181">Mia Johanne M.</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-656d39fc"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-01810a9a">"Fikk den på døra etter 3 dager, bruker energi hver morgen. Helt topp."</span></p></div></div></div></div></div></div><div class="sc-qPjXN eYzxUD pf-96d16b35 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-754f1d18" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-d93e99bc"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2396d16b">Gratis hjemlevering på ordre over 450 kr</span></h3><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0277/5859/2073/t/3/assets/pf-a08c12b5--IMGBINbringcitymailpostennorgeptransportpng4hcHXDm8.png?v=1597687200 1200w, https://cdn.shopify.com/s/files/1/0277/5859/2073/t/3/assets/pf-a08c12b5--IMGBINbringcitymailpostennorgeptransportpng4hcHXDm8_800x309.png?v=1597687200&resized 800w, https://cdn.shopify.com/s/files/1/0277/5859/2073/t/3/assets/pf-a08c12b5--IMGBINbringcitymailpostennorgeptransportpng4hcHXDm8_400x155.png?v=1597687200&resized 400w" class="sc-qZtVr dLIPjF pf-99bc754f" data-pf-type="Image2"></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.13.4","shopDomain":"volantaroma.myshopify.com","elementData":{},"pageTitle":"SMS VIP","pageType":"page","pageId":"16fdfe69-7403-464c-989f-ca5f6f316035","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":false,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.13.4/core/helper.js?t=20200819180843" defer></script>